<div id="menulist_row">
    <mat-icon class="mat-icon-sm">call</mat-icon><span class="aligned-with-icon">(+91) 987 654 3210</span>
    <mat-icon class="mat-icon-sm">location_on</mat-icon><span class="aligned-with-icon">2903 Avenue Z,MG Marg,DL,India</span>
    <mat-icon class="mat-icon-sm">mail</mat-icon><span class="aligned-with-icon">info@skywave.com</span>
</div>

<div id="menulist_column">
    <div>
        <mat-icon class="mat-icon-sm">call</mat-icon><span class="aligned-with-icon">(+91) 987 654 3210</span>
    </div>
    <div>
        <mat-icon class="mat-icon-sm">location_on</mat-icon><span class="aligned-with-icon">2903 Avenue Z,MG Marg,DL,India</span>
    </div>
    <div>
        <mat-icon class="mat-icon-sm">mail</mat-icon><span class="aligned-with-icon">info@skywave.com</span>
    </div>
</div>