.get-in-touch{
    position: relative;
    margin-top: 80px;
    img{
        max-width: 200px; 
        position: absolute; 
        bottom: 0;
    }
    .content{
        padding-left: 200px;
    }
}

.aligned-with-icon{
    position: relative;
    padding: 5px;
}

#getmenulist_column{
    display: none;
}
#getmenulist_row{
    display: block;
}

.gtTouch{
    background-color: #ffffff !important;
    color: black !important;
    line-height: 30px !important;
}


@media only screen and (max-width: 600px) {
    #getmenulist_column{
        display: block !important;
    }
    #getmenulist_row{
        display: none !important;
    }
}