<div class="px-3">
    <div class="theme-container ">
        <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">

            <img src="assets/images/others/operator.png" alt="">
            <div class="content">
                <div class="leftAlign">Looking for authintic food?</div>
                <div class="rightAlign">
                    <mat-icon aria-hidden="false" aria-label="call">call</mat-icon>(+91) 987 654 3210
                </div>
            </div>
            <!--  Your code to implement Get In Touch Feature-->
            <!-- <div  [style.background-image]="bgImage" > -->
            <!-- <div class="rightAlign">
                Looking for authintic food?
            </div>
            <div>
                <mat-icon aria-hidden="false" aria-label="call">call</mat-icon>(+91) 987 654 3210
            </div> -->
        </div>
    </div>
</div>