<div class="px-3">
    <div class="theme-container">  
        <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3"> 
        <!--  Your code to implement Get In Touch Feature-->
            <div id="getmenulist_row" fxLayout="row">
                <div fxLayoutAlign="start center">
                    <img src="assets/images/others/operator.png" class="" width="100" height="80" alt="Operator">
                </div>
                <div style="padding: 5px 0 0 15%;">
                    <span style="font-family: 'Lora', serif;">Looking for Authentic Food?</span>
                </div>
                <div fxLayoutAlign="center center" style="padding: 0 0 0 15%;">
                    <mat-icon class="mat-icon-sm">call</mat-icon>
                    <span class="aligned-with-icon">(+91) 987 654 3210</span>
                </div>
                <div fxLayoutAlign="end center" style="padding: 0 0 0 30%;">
                    <button class="gtTouch" (click)="navigateContactUs()" mat-button>Get In Touch</button>
                </div>
            </div>
            
            <div id="getmenulist_column">
                <div>
                    <img src="assets/images/others/operator.png" width="100" height="80" alt="Operator">
                    <span style="font-family: 'Lora', serif; padding: 0 0 0 40%;">Looking for Authentic Food?</span>
                </div>
                <div style="padding: 0 0 0 40%;">
                    <mat-icon class="mat-icon-sm">call</mat-icon><span class="aligned-with-icon">(+91) 987 654 3210</span>
                </div>
                <div style="padding: 0 0 0 40%;">
                    <button class="gtTouch" (click)="navigateContactUs()" mat-button>Get In Touch</button>
                </div>
            </div>
        </div> 
    </div>
</div>