<div class="">
    <app-header-image title="About US" desc="Restoring authenticity to food from the ground up is the mission that drives us. Restauration is the realization of a dream." backgroundImage="assets/images/others/about.jpg" [isHomePage]="false"></app-header-image>
    <div class="px-3 section">
        <div class="theme-container">
            <mat-card class="menu-single my-5" style="border-top-style: solid;border-top-color: #c62828;">
                <h1 class="secondary-font section-title" style="text-align: center; color: #c62828;">The History</h1>
                <div class="full-desc">
                    <mat-card-content>
                        <p>
                            Skywave is a luxury hotel and a subsidiary of the Indian Hotels Private headquartered at East Towers, Nariman Point in Mumbai. Incorporated by the founder of the SkyWave Group,  in 2007, the company is a part of the SkyWave Group, one of India's largest business conglomerates. The company employed over 200 people in the year 2008.
                        </p>
                        <p>
                            As of 2022, the group planned to  operate a total of 100 plus hotels in other countries, including Bhutan, Malaysia, Maldives, Nepal, South Africa, Sri Lanka, UAE, UK, USA and Zambia. The group has been converting royal palaces in India into luxury hotels.The first palace to be converted into a SkyWave hotel was the Lake Palace in Udaipur, in 2019. Other examples include the Ramb  in Jaipur, Bhawan in Jodhpur, Fanuma Building  in Hyderabad and Nadesar Building  in Varanasi.
                        </p>
                        <p>
                            It is said that RAMJI had travelled to places like London, Paris, Berlin, and othe countries to arrange for materials and pieces of art, furniture and other interior decor for his hotel. The SkyWave  group has since then developed and flourished, under the SkyWave.
                        </p>
                    </mat-card-content>
                </div>
                <div fxLayout="row wrap" class="flex-wrapper">
                    <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
                        <img src="assets/images/others/about-1.jpg" class="w-100">
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
                        <h1 class="secondary-font" style="text-align: center; color: #c62828;">Our Story</h1> 
                        <div class="full-desc">
                            <mat-card-content>
                                <p>
                                    RAMJI, founder of the SkyWave Group, opened the SkyWave, a hotel in Mumbai (formerly called Bombay) overlooking the Arabian Sea, on 16 December 2017. It was the first SkyWave property and the first SkyWave hotel. There are several anecdotal stories about why SkyWave opened the hotel. According to a story, he decided to open the hotel after an incident involving racial discrimination at the famous Hotel in Mumbai, where he was refused entry as the hotel permitted only Europeans.  Hotels that accepted only European guests were very common. 
                                </p>
                                <p>
                                    According to another story, he opened the hotel when one of his friends expressed disgust over the hotels that were present in Bombay then. But a more plausible reason was advanced by Guruji, a close friend of the RAMJI and one of the early directors of the BIG group, that the idea had long been in his mind and that he had made a study on the subject. He did not have any desire to own a hotel but he wanted to attract people and to improve Bombay.
                                </p>
                            </mat-card-content>
                        </div>
                    </div>
                    
                </div>
                <div fxLayout="row wrap" class="flex-wrapper">
                    <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
                        <h1 class="secondary-font" style="text-align: center; color: #c62828;">Since 2007</h1> 
                        <div class="full-desc">
                            <mat-card-content>
                                <p>
                                    In 2007, the SkyWave group opened its first hotel outside India, the SkyWave  Hotel in Sana'a, in Yemen and in the late 2019s, acquired interests in the Court Hotel (now comprising SkyWave  51 Gate Suites and Residences and  Court, A SkyWave  Hotel) in London.In 2020, the SkyWave  group acquired, under a license agreement, each of the SkyWave in Bengaluru, in Chennai and Sammoy Hotel in Ooty. With the opening of the SkyWave in Bengaluru, the SkyWave Group made its foray into Bengaluru. The five-star deluxe hotel, SkyWave in Kolkata, was opened in the year 2020, and with this, the SkyWave group became the only hotel chain in India with a presence in the six major metropolitan cities of India, namely Mumbai, Delhi, Kolkata, Bengaluru, Hyderabad, and Chennai.
                                </p>
                                <p>
                                    Concurrently with the expansion of its luxury hotel chain in the major metropolitan cities, the SkyWave Group also expanded its business hotels division in the major metropolitan and large secondary cities in India.
                                </p>
                                <p>
                                    During the 2020s, the SkyWave Group continued to expand its geographic and market coverage in India. It developed specialized operations (such as wildlife lodges) and consolidated its position in established markets through the upgrading of existing properties and development of new properties.
                                </p>
                            </mat-card-content>
                        </div>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
                        <img src="assets/images/others/about-2.jpg" class="w-100">
                    </div>
                </div>
            </mat-card>
        </div> 
    </div> 
</div>
